<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>
  <a class="mcnButton " title="Reset Password" href= "<%= @url %>" target="_blank" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #3399ff;">Click here! </a> to reset your password
</p>

<p>
  Thanks!<br>
  The Cockpit Team
</p>
